## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [95]:
import pandas as pd
import numpy as np

In [2]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
len(data)

32561

In [3]:
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [4]:
print(f'{len(data[data['sex'] == 'Female'])} женщин')
print(f'{len(data[data['sex'] == 'Male'])} мужчин')

10771 женщин
21790 мужчин

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [5]:
print(f"Средний возраст: {data[data['sex'] == 'Male'].age.mean()}")

Средний возраст: 39.43354749885268

In [6]:
data[data['sex'] == 'Male'].describe() #39,433547

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,21790.000000,2.179000e+04,21790.000000,21790.000000,21790.000000,21790.000000
mean,39.433547,1.917714e+05,10.102891,1329.370078,100.213309,42.428086
std,13.370630,1.067407e+05,2.662630,8326.312095,429.763097,12.119755
min,17.000000,1.376900e+04,1.000000,0.000000,0.000000,1.000000
25%,29.000000,1.182008e+05,9.000000,0.000000,0.000000,40.000000
50%,38.000000,1.801400e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.411462e+05,13.000000,0.000000,0.000000,49.000000
max,90.000000,1.455435e+06,16.000000,99999.000000,3770.000000,99.000000

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [7]:
result = (data['native-country'] == 'United-States').mean()
result

np.float64(0.895857006848684)

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [16]:
high = data[data['salary'] == '>50K'] # ['age'].mean()
print(f'{high['age'].mean()} средний возраст людей с высокой зп')
print(f'{high['age'].std()} среднеквадратичное отклонение возраста людей с высокой зп')
low = data[data['salary'] == '<=50K']
print(f'{low['age'].mean()} средний возраст людей с невысокой зп')
print(f'{low['age'].std()}среднеквадратичное отклонение возраста людей с невысокой зп')

44.24984058155847 средний возраст людей с высокой зп
10.51902771985177 среднеквадратичное отклонение возраста людей с высокой зп
36.78373786407767 средний возраст людей с невысокой зп
14.020088490824813среднеквадратичное отклонение возраста людей с невысокой зп

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [46]:
print(high["education"].isin(["Bachelors","Prof-school","Assoc-acdm","Assoc-voc","Masters","Doctorate"]).all())
edu = high["education"].isin(["Bachelors","Prof-school","Assoc-acdm","Assoc-voc","Masters","Doctorate"]).sum()
al = high["education"].isin(["Bachelors","Prof-school","Assoc-acdm","Assoc-voc","Masters","Doctorate"]).count()
print(f'всего {al} а с нужным образованием {edu}')
print(f'Доля = {edu/al}')

False
всего 7841 а с нужным образованием 4535
Доля = 0.5783701058538452

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.** #90 лет

In [43]:
data.groupby(by='race')['age'].describe()

,count,mean,std,min,25%,50%,75%,max
race,,,,,,,,
Amer-Indian-Eskimo,311.0,37.173633,12.447130,17.0,28.0,35.0,45.5,82.0
Asian-Pac-Islander,1039.0,37.746872,12.825133,17.0,28.0,36.0,45.0,90.0
Black,3124.0,37.767926,12.759290,17.0,28.0,36.0,46.0,90.0
Other,271.0,33.457565,11.538865,17.0,25.0,31.0,41.0,77.0
White,27816.0,38.769881,13.782306,17.0,28.0,37.0,48.0,90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [71]:
married = data[data['marital-status'].isin(['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse'])]
rich_mar = married[married['salary'] == '>50K']
print(f'женатых богатых {len(rich_mar)} из {len(married)}')
unmarried = data[~data['marital-status'].isin(['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse'])]
rich_unmar = unmarried[unmarried['salary'] == '>50K']
print(f'холостых богатых {len(rich_unmar)} из {len(unmarried)}')

женатых богатых 6736 из 15417
холостых богатых 1105 из 17144

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [84]:
max_hours = data['hours-per-week'].max()
people_max_work = data[data['hours-per-week'] == max_hours]
print(f'макс часов {max_hours}')
print(f'людей работающих макс часы {len(people_max_work)}')
p_m_w_rich = people_max_work[people_max_work['salary'] == '>50K']
print(f'богатых из них {len(p_m_w_rich)/len(people_max_work)* 100} %')

макс часов 99
людей работающих макс часы 85
богатых из них 29.411764705882355 %

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [93]:
rich = data[data['salary'] == '>50K']
work_rich = rich.groupby(by='native-country')['hours-per-week'].mean()
print(f'среднее количество часов зарабатывающих много {work_rich}')
poor =  data[data['salary'] == '<=50K']
work_poor = poor.groupby(by='native-country')['hours-per-week'].mean()
print(f'среднее количество часов зарабатывающих НЕмного {work_poor}')

среднее количество часов зарабатывающих много native-country
?                     45.547945
Cambodia              40.000000
Canada                45.641026
China                 38.900000
Columbia              50.000000
Cuba                  42.440000
Dominican-Republic    47.000000
Ecuador               48.750000
El-Salvador           45.000000
England               44.533333
France                50.750000
Germany               44.977273
Greece                50.625000
Guatemala             36.666667
Haiti                 42.750000
Honduras              60.000000
Hong                  45.000000
Hungary               50.000000
India                 46.475000
Iran                  47.500000
Ireland               48.000000
Italy                 45.400000
Jamaica               41.100000
Japan                 47.958333
Laos                  40.000000
Mexico                46.575758
Nicaragua             37.500000
Peru                  40.000000
Philippines           43.032787
Poland                39.000000
Portugal              41.500000
Puerto-Rico           39.416667
Scotland              46.666667
South                 51.437500
Taiwan                46.800000
Thailand              58.333333
Trinadad&Tobago       40.000000
United-States         45.505369
Vietnam               39.200000
Yugoslavia            49.500000
Name: hours-per-week, dtype: float64
среднее количество часов зарабатывающих НЕмного native-country
?                             40.164760
Cambodia                      41.416667
Canada                        37.914634
China                         37.381818
Columbia                      38.684211
Cuba                          37.985714
Dominican-Republic            42.338235
Ecuador                       38.041667
El-Salvador                   36.030928
England                       40.483333
France                        41.058824
Germany                       39.139785
Greece                        41.809524
Guatemala                     39.360656
Haiti                         36.325000
Holand-Netherlands            40.000000
Honduras                      34.333333
Hong                          39.142857
Hungary                       31.300000
India                         38.233333
Iran                          41.440000
Ireland                       40.947368
Italy                         39.625000
Jamaica                       38.239437
Japan                         41.000000
Laos                          40.375000
Mexico                        40.003279
Nicaragua                     36.093750
Outlying-US(Guam-USVI-etc)    41.857143
Peru                          35.068966
Philippines                   38.065693
Poland                        38.166667
Portugal                      41.939394
Puerto-Rico                   38.470588
Scotland                      39.444444
South                         40.156250
Taiwan                        33.774194
Thailand                      42.866667
Trinadad&Tobago               37.058824
United-States                 38.799127
Vietnam                       37.193548
Yugoslavia                    41.600000
Name: hours-per-week, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [113]:
data['age_group'] = pd.cut(data['age'], 
                           bins=[16, 35, 70, 100], 
                           labels=['young', 'adult', 'retiree'],
                           include_lowest=True)
print(data[['age','age_group']])
data.loc[120:170, ['age', 'age_group']]

       age age_group
0       39     adult
1       50     adult
2       38     adult
3       53     adult
4       28     young
...    ...       ...
32556   27     young
32557   40     adult
32558   58     adult
32559   22     young
32560   52     adult

[32561 rows x 2 columns]

     age age_group
120   21     young
121   40     adult
122   30     young
123   29     young
124   19     young
125   47     adult
126   20     young
127   31     young
128   35     young
129   39     adult
130   28     young
131   24     young
132   38     adult
133   37     adult
134   46     adult
135   38     adult
136   43     adult
137   27     young
138   20     young
139   49     adult
140   61     adult
141   27     young
142   19     young
143   45     adult
144   70     adult
145   31     young
146   22     young
147   36     adult
148   64     adult
149   43     adult
150   47     adult
151   34     young
152   33     young
153   21     young
154   52     adult
155   48     adult
156   23     young
157   71   retiree
158   29     young
159   42     adult
160   68     adult
161   25     young
162   44     adult
163   28     young
164   45     adult
165   36     adult
166   39     adult
167   46     adult
168   18     young
169   66     adult
170   27     young

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [124]:
age_rich = data[data['salary'] == '>50K']['age_group'].value_counts()
print(age_rich)
print(f'Больше других зарабатывают {age_rich.idxmax()}')

age_group
adult      6042
young      1705
retiree      94
Name: count, dtype: int64
Больше других зарабатывают adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [126]:
def filter_func(group: pd.DataFrame):
    return group["age"].mean() <= 40 and group["hours-per-week"].min() > 5

grouped = data.groupby("occupation")
print(f"Кол-во людей в каждой группе:\n{grouped.size()}")
print(f"Группы, в которых средний возраст меньше 40 и работают более 5 часов в неделю:\n{grouped.filter(filter_func)[["age", "hours-per-week"]]}")

Кол-во людей в каждой группе:
occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
dtype: int64
Группы, в которых средний возраст меньше 40 и работают более 5 часов в неделю:
       age  hours-per-week
442     24              40
1300    29              60
14613   39              50
16111   24              40
18034   34              40
18644   23              40
18769   30              48
25799   46              40
32316   23               8